.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: auto;
    min-height: 300px;
    box-shadow: 0 8px 50px -7px black;
    background: #3A4655;
}

.display{
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.row-one{
    margin-top: 20px;
}

.number-btn{
    background-color: #3A4655;
    padding: 8px;
    color: white;
}

.decimal-btn, .operator-btn, .equals-btn{
    background-color: #3A4655;
    padding: 8px;
    color: orange;
}

.clear-btn{
    padding: 10px;
    width: 117px;
    background: white;
    color: black;
}

.number-btn:hover {
    color: orange;
  }
.operator-btn:hover{
    color: white;
}